.meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: "Michroma", sans-serif;
}
header{
    background-color:gold;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    border: 2px;
}

.contenedor{
    display: inline-block;
    color: white;
}

h1{
    font-family: 'Meie Script';
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

main{
    /* padding: 20px; */
    background-color:rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
}

.hero{
    background-image:url(../img/hambfondo.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    padding: 20px 10px;
    text-align: center;
    justify-content: center;
    border: 5px;
    border-radius: 8px;
    border-color: white;
}



/* .burgas{
    margin-top: 15px;
}

.pizzas{
    margin-top: 15px;
}

.papas{
    margin-top: 15px;
} */